@page
@model MyApp.Namespace.DomBasedModel
@{
}

@section head
{
    <link rel="stylesheet" href="/css/stored.css">
}

<h1>Welcome to Generic Image Board!</h1>

<b align="center">Result of the calculation:</b>
<div id="result">Fail</div>

<script>
    var num = document.URL.split("num=") [1];
    var sanitizedInput = num.replace(/[^-()\d/*+.]/g, '');
    document.getElementById("result").textContent = eval(sanitizedInput);
</script>
