@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section head
{
    <link rel="stylesheet" href="/css/index.css" type="text/css">
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Select one of these examples to test XSS on.</p>
    <ul>
        <li><a asp-page="/Stored">Stored XSS</a></li>
        <li><a asp-page="/Reflected">Reflected XSS</a></li>
        <li><a asp-page="/DomBased">DOM-based XSS</a></li>
    </ul>
</div>
